*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  background-color: #e4e0df;
  overflow-y: scroll;
}

.flex-row{
  display: flex;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.arrow-down{
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #777;
}

color-picker{
  display: flex;
  height: 48px;
  color: #666;
  border: 1px solid #d7d6d5;
  background-color: #fff;
  position: relative;
}

output{
  display: flex;
  align-items: center;
  padding: 16px;
  width: 200px;
  font-weight: bold;
  text-transform: uppercase;
}

button{
  color:#666;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid #ddd;
}


.icon-button{
  margin: 0;
  border: none;
}

.menu-item{
  font-weight: bold;
}

.btn{
  display: inline-flex;
  height: 32px;
  padding: 8px 16px;
}

.primary-btn{
  background-color: green;
  color: white;
}

.drop-down-container{
  width: 100%;
  position: absolute;
}

.drop-down-content{
  position: absolute;
  top: 60px;
  right: 0px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px
}

.drop-down-content-arrow{
  position: absolute;
  top: 36px;
  z-index: 1;
  left: 0;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #fff;
  transform: translateX(-50%);
}

.color-preview{
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f5f5f5;
}

.menu{
  display: flex;
  flex-direction: column;
  min-width: 170px;
}

.menu-item{
  text-transform: uppercase;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  background-color: white;
  padding: 0 16px; 
  cursor: pointer;
  transition: background-color .25s linear;
}

.current-menu-item{
  background-color: #3577b7;
  color: white;
}

.menu-item:not(.current-menu-item):hover{
  background-color: #f3f3f3;
}

.menu-item:first-child{
  border: none;
}

.divider{
  width: 1px;
  background-color: #d7d6d5;
}

.drop-down-controls{
  display: flex;
  justify-content: flex-end;
  padding: 0 16px 16px 16px;
}

.drop-down-controls .btn:first-child{
  margin-right: 8px;
}


.color-configurator{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 0 16px 24px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 16px;
  width: 160px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  border: 1px solid white;
  background: #777;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[name=red][type=range]::-webkit-slider-runnable-track{
  background: linear-gradient(to right, #777, #e0212f);
}
input[name=green][type=range]::-webkit-slider-runnable-track{
  background: linear-gradient(to right, #777, #16a357);
}
input[name=blue][type=range]::-webkit-slider-runnable-track{
  background: linear-gradient(to right, #777, #1eafea);
}